.chart_top {
    h1 {
        font-family: sans-serif;
        font-size: 25px;
        text-decoration: underline;
    }

    .chart {
        padding: 10px;
        border: 1px solid #ddd;
        box-shadow: 0px 0px 5px grey;
        border-radius: 5px;
    }
}